body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white !important;
    height: 80px;
}


.login {
    display: flex;
    align-items: center;
    font-size: 24px;
}

.homepage {
    display: flex;
    align-items: center;
    font-size: 24px;
}

.homepage a {
    color: white;
    text-decoration: none;
}

.icon {
    font-size: 24px;
    margin-right: 5px;
}


.search-container {
    display: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}

.search-input {
    padding: 15px;
    margin-right: 15px;
    border-radius: 15px;
    border: 1px solid #ccc;
    font-size: 20px;
}

.search-button {
    padding: 15px 30px;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    color: white;
    cursor: pointer;
    font-size: 20px;
}




main {
    padding: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.buttons button {
    margin: 0 10px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    font-size: 24px;
}


.add-recipe {
    background-color: #4CAF50;
    color: white;
    position: relative;
}

.add-recipe::before {
    content: "Click to add a recipe!";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
    display: none;
}

.add-recipe:hover::before {
    display: block;
}


.recipe-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.recipe-name,
.portions {
    flex: 1;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 10px;
    margin-right: 10px;
}

.ingredients-instructions {
    border-radius: 10px;
    display: flex;
    margin-bottom: 10px;
}

.ingredient-section,
.instructions-section {
    flex: 1;
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 10px;
    margin-right: 5px;
}

.save-recipe-button {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    clear: both;
    margin-top: 20px;
}



.list-recipe {
    background-color: #008CBA;
    color: white;
}





.ingredient {
    background-color: #f44336;
    color: white;
}

.favorite-recipe {
    background-color: #FFC107;
    color: white;
}


/*recipe cards*/
.recipeCard {
    position: relative;
    background-color: #c8e6c9;
}

.recipeCard a::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.recipeHeaderCard {
    padding: 20px;
}

.card-title {
    font-weight: bold;
}

.recipeDetailTitle {
    text-align: center;
}

#recipeOverviewHeader {
    text-align: center;
}


div.ingredientWindow {
    overflow-y: scroll;
    float: left;
    padding: 10px;
    border: 1px solid #000;
    width: 30vh;
    max-height: 50vh;
}

div.recipeWindow {
    overflow-x: hidden;
    overflow-y: auto;
    float: right;
    padding: 10px;
    border: 1px solid #000;
    width: 60vh;
    max-height: 50vh;
    white-space: pre-wrap;
}

.recipeCard .card-text {
    font-size: smaller;
}



footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}
