<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dynamic Input</title>
    <style>
        .inputField {
            width: 200px;
            height: 20px; /* Four lines long */
        }
        .smallInputField {
            width: 70px;
            height: 20px;
        }
    </style>
</head>
<body>

<!-- Container element where the React component will be rendered -->
<div id="dynamicInput"></div>

<!-- Import React library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/17.0.2/umd/react.production.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react-dom/17.0.2/umd/react-dom.production.min.js"></script>

<!-- Your React component -->
<script th:inline="javascript">
    /* <![CDATA[ */
    function DynamicThreeInput() {
        const [data, setData] = React.useState([{ingredientAmount: "", ingredientUnitOfMeasure: "", ingredientName: ""}])

        const handleClick = () => {
            setData([...data, {ingredientAmount: "", ingredientUnitOfMeasure: "", ingredientName: ""}])
        }
        const handleChange = (e, i) => {
            const {name, value} = e.target
            const onchangeVal = [...data]
            onchangeVal[i][name] = value
            setData(onchangeVal)
        }
        const handleDelete = (i) => {
            const deleteVal = [...data]
            deleteVal.splice(i, 1)
            setData(deleteVal)
        }
        return (
            React.createElement('div', {className: 'App'},
                React.createElement('button', {onClick: handleClick}, 'Add'),
                data.map((val, i) =>
                    React.createElement('div', {key: i},
                        React.createElement('textarea', {name: 'ingredientAmount', className: 'smallInputField', value: val.ingredientAmount, onChange: (e) => handleChange(e, i)}),
                        React.createElement('textarea', {name: 'ingredientUnitOfMeasure', className: 'smallInputField', value: val.ingredientUnitOfMeasure, onChange: (e) => handleChange(e, i)}),
                        React.createElement('textarea', {name: 'ingredientName', className: 'inputField', value: val.ingredientName, onChange: (e) => handleChange(e, i)}),

                        React.createElement('button', {onClick: () => handleDelete(i)}, 'Delete')
                    )
                )
            )
        );
    }

    ReactDOM.render(React.createElement(DynamicThreeInput), document.getElementById('dynamicInput'));
    /* ]]> */
</script>

</body>
</html>
