<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Amounts of ingredients</title>
</head>
<body>


    <div th:replace="~{fragments/general :: navbar}"></div>


<h1>Amounts of ingredients</h1>

<table>
    <tr>
        <th>Amount</th>
        <th>Unit + Ingredient</th>
        <th></th>
    </tr>
    <tr th:each="amountOfIngredient : ${allAmountsOfIngredients}">
        <td th:text="${amountOfIngredient.amount}"></td>
        <td th:text="${amountOfIngredient.ingredient.unitOfMeasurement + ' '
                        + amountOfIngredient.ingredient.name}"></td>
    </tr>
</table>

<form th:action="@{/amount/new}" method="post" th:object="${newAmountOfIngredient}">
    <input type="hidden" th:field="*{id}">
    <table>
        <tr>
            <td><label for="ingredientAmountField">Amount</label></td>
            <td><label for="ingredientUnitField">Unit + Ingredient</label></td>
        </tr>
        <tr>
            <td><input id="ingredientAmountField" th:field="*{amount}"></td>
            <td><select id="ingredientUnitField" th:field="*{ingredient}" multiple>
                <option th:each="ingredient : ${allIngredients}"
                        th:text="${ingredient.unitOfMeasurement + ' ' + ingredient.name}"
                        th:value="${ingredient.ingredientId}">
                </option>
            </select>
            </td>
        </tr>
    </table>

    <input type="submit" value="Save Amount of Ingredient"/>

</form>

<p>
    <a th:href="@{/recipe/new}">Add a new recipe</a>
</p>


<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>
</body>

</html>

