<!DOCTYPE html>
<html lang="en">
<head th:replace="~{fragments/general :: baseHeader(~{:: title})}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Website</title>

</head>
<body>

    <div th:replace="~{fragments/general :: navbar}"></div>


<main>
    <div class="buttons">
        <a href="/recipe/new" >
            <button class="add-recipe">Add Recipe</button>
        </a>
        <a href="/recipe" >
         <button class="list-recipe">List Recipe</button>
        </a>
        <a href="/ingredient" >
        <button class="ingredient">Ingredient</button>
        </a>
        <button class="favorite-recipe">Favorite Recipe</button>
    </div>

</main>


<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>
</body>
</html>
