<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(~{:: title})}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Website</title>

</head>
<body>

<div th:replace="~{fragments/general :: navbar}"></div>
<div>

<main>
    <div class="buttons">
        <a href="/recipe/new" >
            <button class="add-recipe">Add Recipe</button>
        </a>
        <a href="/recipe" >
            <button class="list-recipe">List Recipe</button>
        </a>
        <a href="/ingredient" >
            <button class="ingredient">Ingredient</button>
        </a>
        <a href="/favorites" >
            <button class="favorite-recipe" sec:authorize="isAuthenticated()">Favorite Recipe</button>
        </a>
    </div>
</main>
</div>
<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>
</body>
</html>



