<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>This is a list of all ingredients</title>
</head>
<body>

<h1>Overview of ingredients</h1>

<table>
    <tr>
        <th>Ingredient</th>
        <th>Unit of Measurement</th>
        <th></th>
    </tr>
    <tr th:field="*{ingredient}" th:each="ingredient : ${allIngredients}">
        <td th:text="${ingredient.name}"></td>
        <td th:text="${ingredient.unitOfMeasurement}"></td>
    </tr>
</table>

<form th:action="@{/ingredient/new}" method="post" th:object="${newIngredient}">
    <input type="hidden" th:field="*{ingredientId}">
    <table>
        <tr>
            <td><label for="nameField">Ingredient</label></td>
            <td><label for="unitOfMeasurementField">Unit Of Measurement</label></td>
        </tr>
        <tr>
            <td><input id="nameField" th:field="*{name}"></td>
            <td><input id="unitOfMeasurementField" th:field="*{unitOfMeasurement}"></td>
        </tr>
    </table>

        <input type="submit" value="Save new ingredient" />
</form>

<p>
    <a th:href="@{/amount}">Add a new amount</a>
</p>

</body>
</html>


