<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(~{:: title})}">
    <title>This is a list of all ingredients</title>
</head>
<body >

<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container-wrapper">
<div class="container" style="width: 500px; height: 200px; margin-left:40px; margin-right:10px;">
    <!--   <header>
           <div>
               <form th:action="@{/search}" method="get">
                   <label for="search">Search:</label>
                   <input type="text" id="search" name="ingredient" placeholder="Enter an ingredient">
                   <button type="submit">Search</button>
               </form>
           </div>

       </header>-->

    <form th:action="@{/ingredient}" method="post" th:object="${newIngredient}">
        <input type="hidden" th:field="*{id}">
        <table>
            <tr>
                <th><label class="recipe-name" for="nameField"><b>Ingredient</b></label></th>
                <td><input class="form-control" id="nameField" th:field="*{name}"></td>
                <td th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:class="error"></td>
            </tr>
            <tr>
                <th><label class="recipe-name" for="nameField"><b>Unit Of Measurement</b></label></th>
                <td><select id="unitOfMeasurementField" th:field="*{unitOfMeasurement}">
                    <option th:each="unitOfMeasurement : ${allUnitsOfMeasurement}"
                            th:text="${unitOfMeasurement.toString()}"
                            th:value="${unitOfMeasurement.name()}">
                    </option>
                </select>
                </td>
                <td th:if="${errorMessageUniqueIngredientNameAndUnit}"
                    th:text="${errorMessageUniqueIngredientNameAndUnit}"
                    th:class="error"></td>
            </tr>
        </table>
        <button class="save-recipe-button" type="submit" value="Save ingredient">Save Ingredient</button>
    </form>
</div>

<div class="container" style="width: 500px; margin-left:10px;">
    <table>
        <tr>
            <h3><strong>Ingredient List</strong></h3>
            <hr class="border border-success border-3 opacity-75 mt-0">
            <th class="text-center">Ingredient</th>
            <th class="text-center">Unit of Measurement</th>
            <th></th>
        </tr>
        <tr th:field="*{ingredient}" th:each="ingredient : ${allIngredients}">
            <td class="text-center" th:text="${ingredient.name}"></td>
            <td class="text-center" th:text="${ingredient.unitOfMeasurement}"></td>
        </tr>
    </table>

</div>
</div>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>

</html>


