<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>This is a list of all ingredients</title>
</head>
<body>


<form th:action="@{/ingredient/new}" method="post" th:object="${newIngredient}">
    <table>
        <tr>
            <th><label for="nameField">Name</label></th>
            <th></th>
        </tr>
        <tr th:each="ingredient : ${allIngredients}">
            <td th:text="*{ingredient.name}">

            </td>
        </tr>


        <tr>
            <td><input id="nameField" type="text" th:field="*{name}"></td>
            <td><input type="submit" value="Save new ingredient"></td>
        </tr>

    </table>
</form>

</body>
</html>