<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(~{:: title})}">
    <title>Recipe overview</title>


</head>
<body>

<header>
    <div th:replace="~{fragments/general :: navbar}"></div>
</header>



<div class="container">
    <h1 id="recipeOverviewHeader"></h1>
    <div class="d-flex flex-wrap">
        <div th:each="recipe : ${allRecipes}" style="margin: 3mm;">
            <div th:replace="~{fragments/cardTemplate :: cardFragment(${recipe})}"></div>
        </div>
    </div>
</div>


<p>
    <a th:href="@{/recipe/new}">Add a new recipe</a>
</p>
<p>
    <a th:href="@{/ingredient}">Add a new ingredient</a>
</p>
<p>
    <a th:href="@{/tag}">Add a new tag</a>
</p>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>