<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Recipe overview</title>
</head>
<body>
<h1>Overview of all the recipes on this website</h1>

    <table>
        <tr>
            <th>Name</th>
            <th>Number of portions</th>
            <th>Ingredient</th>
            <th>Instructions</th>
            <th></th>
        </tr>
        <tr th:each="recipe : ${allRecipes}">
            <td th:text="${recipe.recipeName}"></td>
            <td th:text="${recipe.numberOfPortions}"></td>
            <td th:text="${recipe.ingredients}"></td>
            <td th:text="${recipe.instructions}"></td>
        </tr>
    </table>

<p>
    <a th:href="@{/recipe/new}">Add a new recipe</a>
</p>

</body>
</html>