<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(~{:: title})}">
    <title>Add your recipe</title>

</head>

<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<main>
    <form class="container" th:action="@{/recipe/new}" method="post" th:object="${recipe}">
        <input type="hidden" th:field="*{id}">
        <table>

            <tr>
                <th><label class="recipe-name" for="nameField"><b>Recipe Name</b></label></th>
                <td><input class="form-control" id="nameField" type="text" th:field="*{recipeName}"></td>
            </tr>
            <tr>
                <th><label class="recipe-name" for="nameField"><b>Instructions</b></label></th>
                <td><button class="btn btn-secondary" type="submit" name="addInstruction">Add instruction</button></td>
            </tr>
            <tr th:each="instruction, rowStat : *{instructions}">
                <td th:text="${rowStat.count}"></td>
                <td>
                    <input class="form-control" id="instructionField" type="text"
                           th:field="*{instructions[__${rowStat.index}__]}"
                           th:value="${recipe.instructions}">
                </td>
                <td><button class="btn btn-danger" type="submit" name="removeInstruction"
                            th:value="${rowStat.index}">Remove instruction</button></td>
            </tr>
            <tr>
                <th><label class="recipe-name" for="nameField"><b>Ingredients</b></label></th>
                <td><button class="btn btn-secondary" type="submit" name="addIngredient">Add ingredient</button></td>
            </tr>
            <tr th:each="ingredient, rowStat : *{ingredientInRecipeList}">
                <td align="right"><strong th:text="${rowStat.count + '. ingredient'}"></strong></td>
                <td>

                    <script th:inline="javascript">

                        document.addEventListener('DOMContentLoaded', function() {
                            var selectElement = document.getElementById('ingredientField__${rowStat.index}');
                            var selectedIngredientId = localStorage.getItem('selectedIngredientId__${rowStat.index}');
                            if (selectedIngredientId) {
                                selectElement.value = selectedIngredientId;
                            }
                        });
                        function loadIngredients(selectElement) {
                            var selectedIngredientId = selectElement.dataset.selectedIngredientId;
                            if (selectedIngredientId) {
                                selectElement.value = selectedIngredientId;
                                return;
                            }

                            var url = '/api/ingredients';
                            fetch(url)
                                .then(response => {
                                    if (!response.ok) {
                                        throw new Error('Failed to fetch ingredients');
                                    }
                                    return response.json();
                                })
                                .then(data => {
                                    data.forEach(function(ingredient) {
                                        var option = document.createElement("option");
                                        option.text = ingredient.name;
                                        option.value = ingredient.id;
                                        selectElement.add(option);
                                    });

                                    var selectedIngredientId = selectElement.dataset.selectedIngredientId;
                                    if (selectedIngredientId) {
                                        selectElement.value = selectedIngredientId;
                                    }
                                })
                                .catch(error => {
                                    console.error('Error fetching ingredients:', error);
                                });
                        }

                        function updateSelectedIngredient(selectElement) {
                            var selectedIngredientId = selectElement.value;
                            selectElement.dataset.selectedIngredientId = selectedIngredientId;
                            localStorage.setItem('selectedIngredientId__${rowStat.index}', selectedIngredientId);
                        }
                    </script>

                    <select id="ingredientField" th:field="*{ingredientInRecipeList[__${rowStat.index}__].ingredient}"
                            onclick="loadIngredients(this)"
                            onchange="updateSelectedIngredient(this)"
                    >
                        <option value="">Select Ingredient</option>
                    </select>

                </td>
                <th><label class="recipe-name" for="nameField"><b>Amount</b></label></th>
                <td>
                    <input class="form-control" id="amountField" type="text" th:field="*{ingredientInRecipeList[__${rowStat.index}__].amount}">
                </td>
            </tr>
            <tr>
                <th><label class="recipe-name" for="nameField"><b>Tags</b></label></th>
                <td><button class="btn btn-secondary" type="submit" name="addTag">Add tag</button></td>
            </tr>
            <tr th:each="tag, rowStat : *{tags}">
                <td></td>
                <td>
                    <select id="tagsField" th:field="*{tags[__${rowStat.index}__]}">
                        <option th:each="potentialTag : ${allTags}"
                                th:text="${potentialTag.tagName}"
                                th:value="${potentialTag.tagName}">
                        </option>
                    </select>
                </td>
            </tr>
        </table>

        <button class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Save recipe">Save Recipe</button>
    </form>
</main>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>
