<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add your recipe</title>
    <link rel="stylesheet" href="recipe.css">
</head>

<body>


<header>
    <div class="homepage">
        <a href="/" >
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-house-door" viewBox="0 0 16 16">
                <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4z"/>
            </svg>
            Homepage
        </a>
    </div>

    <h1>Add your own recipe</h1>

    <div class="search">
        <input type="text" placeholder="Search">
        <button>Search</button>
    </div>
</header>

<form th:action="@{/recipe/new}" method="post" th:object="${recipe}">
    <input type="hidden" th:field="*{recipeId}">
    <table>
        <tr>
            <td><label for="nameField">Recipe Name</label></td>
            <td><label for="noPortionsField">Number of portions</label></td>
            <td><label for="ingredientField">Ingredient</label></td>
            <td><label for="instructionsField">Instructions</label></td>
        </tr>
        <tr>
            <td><input id="nameField" th:field="*{recipeName}"></td>
            <td><input id="noPortionsField" th:field="*{numberOfPortions}"></td>
<!--            <td><input id="ingredientField" th:field="*{ingredients}"><td>-->
            <td>
                <select id="ingredientField" th:field="*{ingredients}" multiple>
                    <option th:each="ingredient : ${allIngredients}"
                            th:text="${ingredient.name}"
                            th:value="${ingredient.ingredientId}">
                    </option>
                </select>
            </td>
            <td><input id="instructionsField" th:field="*{instructions}"></td>
        </tr>
    </table>

    <input type="submit" value="Save recipe" />

</form>

<footer>
    <div class="toolbar-bottom">@SHH</div>
</footer>

</body>
</html>