<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(~{:: title})}">
    <title>Add your recipe</title>

</head>

<body>


<header>
    <div th:replace="~{fragments/general :: navbar}"></div>
</header>



<form th:action="@{/recipe/new}" method="post" th:object="${newRecipe}">
    <input type="hidden" th:field="*{recipeId}">

    <div class="recipe-info">
        <div class="recipe-name">
            <label for="nameField">Recipe Name</label><br>
            <input id="nameField" th:field="*{recipeName}" type="text">
        </div>

        <div class="portions">
            <label for="noPortionsField">Number of Portions</label><br>
            <input id="noPortionsField" th:field="*{numberOfPortions}" type="number">
        </div>
    </div>

    <div class="ingredients-instructions">
        <div class="ingredient-section">
            <label for="ingredientField">Ingredient</label><br>
            <select id="ingredientField" th:field="*{amountOfIngredients}" multiple>
                <option th:each="amountOfIngredientInRecipe : ${allAmountsOfIngredients}"
                        th:text="${amountOfIngredientInRecipe}"
                        th:value="${amountOfIngredientInRecipe.id}">
                </option>
            </select>
        </div>

        <div class="instructions-section">
            <label for="instructionsField">Instructions</label><br>
            <input id="instructionsField" th:field="*{instructions}" type="text">
        </div>

<!--        Voor onderstaand veld komt nog een css-template-->
        <div>
            <select id="tagsField" th:field="*{tags}" multiple>
                <option th:each="tagInRecipe : ${allTags}"
                        th:text="${tagInRecipe}"
                        th:value="${tagInRecipe.tagName}">
                </option>
            </select>
        </div>
    </div>

    <button type="submit" class="save-recipe-button">Save Recipe</button>


</form>

<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>

</body>
</html>