<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">

<head th:replace="~{fragments/general :: baseHeader(~{:: title})}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Website</title>
    <link rel="stylesheet" href="/css/recipe.css">
</head>

<body>

<div th:replace="~{fragments/general :: navbar}"></div>

<h1>Search Results</h1>

<div class="container">

    <table>
        <tr>
            <th>Recipe name</th>
        </tr>
        <tr></tr>
        <tr th:each="result : ${searchResults}">
            <td><a th:text="${result.recipeName}"
                   th:href="@{/recipe/detail/{recipeName}(recipeName = ${result.recipeName})}"></a>
            </td>
        </tr>
    </table>

</div>


<div th:replace="~{fragments/general :: footer}"></div>
<div th:replace="~{fragments/general :: bottomScripts}"></div>
</body>
</html>
