<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head th:replace="~{fragments/general :: baseHeader(~{:: title})}">

    <title>This is a list of all tags</title>
</head>

<body>
<div th:replace="~{fragments/general :: navbar}"></div>

<div class="container-wrapper">
    <div class="container" style="width: 500px; height: 200px; margin-left:40px; margin-right:10px;">

        <form th:action="@{/tag/new}" method="post" th:object="${newTag}">
            <table>
                <tr>
                    <th><label class="recipe-name" for="nameField"><b>Wrire a Tag Name</b></label></th>
                </tr>
                <tr>
                    <td><input class="form-control" id="nameField" th:field="*{tagName}"></td>
                </tr>
            </table>

            <button class="save-recipe-button" type="submit" value="Save ingredient">Save Tag</button>
        </form>

    </div>


    <div class="container" style="width: 500px; margin-left:10px;">
        <table>
            <tr>
                <h3><strong>Tag List</strong></h3>
                <hr class="border border-success border-3 opacity-75 mt-0">
                <th></th>
            </tr>
            <tr th:each="tag : ${allTags}">
                <td th:text="${tag.tagName}"></td>
            </tr>
        </table>
    </div>
</div>

    <div th:replace="~{fragments/general :: footer}"></div>
    <div th:replace="~{fragments/general :: bottomScripts}"></div>
</body>
</html>